/* @import url('https://fonts.google.com/specimen/Barlow');
@import url('https://fonts.google.com/specimen/Fraunces'); */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

h1{
  font-family: 'Fraunces', serif;
}

*{
    /* background-color: wheat; */
    background: url('images/dekstop/image-graphic-design.jpg');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Barlow', sans-serif;
}

.headd{
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
}

/* NAV JS */



  nav {
    background-color: #3ebfff;
  }
  
  img.logohead, ul.menu, li.toggle, li.item, a.biru{
    background-color: #3ebfff;
  }

  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }

  .button {
   
  }

  .button a{
    
    background-color: #6dceff;
    /* border: 3px hsl(51, 100%, 49%); */
    border-radius: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

  }
  
  /* Mobile menu */
  .menu {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: rgb(255, 255, 255);
    display: inline-block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
   

/* NAV JS */

.gridtanpabg{
  margin-bottom: 5em;
  margin-top: 5em;
}

.title{
    font-family: 'Fraunces', serif;
    padding-top: 2em;
    font-weight: bold;
    font-size: 50px;
    color : white;
    text-align: center;
    margin-bottom: 1em;
}

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.grid-utama{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.photo{
  height: auto;
}

.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.judul{
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sub{
  font-family: 'Barlow', sans-serif;
  padding: 20px 40px;
  text-align: justify; 
  text-align-last: left;
}

.juduldua{
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.underline{
  font-family: 'Fraunces', sans-serif;
  text-decoration-color: hsl(51, 100%, 49%);
  padding: 20px 40px;
  text-align: justify; 
  text-align-last: left;
}

.design{
  color: hsl(167, 40%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding: 0px 24px 59px;
    background-image: url(../images/mobile/image-graphic-design.jpg);
}

.photography{
  color: hsl(198, 62%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding: 0px 24px 59px;
    background-image: url(../images/mobile/image-photography.jpg);
}

.testimonial{
  /* background-color: white; */
}

.titledua{
  padding: 20px 40px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.testi{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 3em;
}

.card{
    /* background-color: white; */
    font-family: 'Barlow', sans-serif;
    margin-top: 5em;
    margin-bottom: 5em;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.profile{
  clip-path: circle(50% at center);
  margin-top: 1rem;
  width: 128px;
}

.name{
  font-family: 'Fraunces', serif;
  font-weight: bold;
}

.position{
  color: #b6b6b6;
}

.subcard{
  font-size: 0.9rem;
  margin: 1rem 2rem;
}

/* photo baris 4 */

.img{
    max-width: 100%;
    height: auto;
}

.photopack{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(1,300px); */
    grid-auto-flow: dense;
}

.photo-item{
    height: auto;
    /* margin: 0.5rem; */
}

.photo-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* photo baris */

.hijau{
  background-color: #93d3c5;
}

.menubawah{
  /* position: fixed;
  top: 0;
  width: 100vw; */
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.menubawah a{
  color: hsl(168, 34%, 41%);
}

.sosmed {
    padding: 2em;
    padding-bottom: 2em;
    /* width: 50%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoakhir img{
  color: hsl(168, 34%, 41%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet menu  min 468px*/ 
@media all and (min-width: 100px)  {

  .grid-utama{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .testi{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 3em;
  }

  .photopack{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: repeat(1,300px); */
    grid-auto-flow: dense;
}

  .menu {
      justify-content:space-around;
  }

  .logo {
      flex: 1;
  }

  .toggle {
      order: 2;
  }
 

/* Desktop menu */
@media all and (min-width: 768px) {

  .grid-utama{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .testi{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 3em;
  }

  .photopack{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(1,300px); */
    grid-auto-flow: dense;
}

  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }